<div  class="media-h">
  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Bienvenu sur la plateforme</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a href="#" class="my-bg mr-2" style="margin-right: 1rem !important;" [routerLink]="[link.link]" routerLinkActive="route-active"  *ngFor="let link of links" mat-button>{{ link.name }}</a>
        <a href="#" class="my-bg ml-2" (click)="deconnexion()" mat-button>Déconnexion</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" class="my-bg mr-2 ml-2" [routerLink]="[link.link]" routerLinkActive="route-active"  *ngFor="let link of links" mat-button>{{ link.name }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-content class="content">

      </ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
