.menu-spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: #273ff2d1 !important;
  color: white;
}

.media-h{
  height: 91vh;
}
@media (max-width: 959px) {
  .media-h{
    height: 100%;
  }
}
.my-bg:hover{
  // background-color: whitesmoke !important;
  color: white;
  border-bottom: 4px solid white;
  background-color: #ffffff24
}
.route-active{
  // color: #273ff2;
  color: white;
  border-bottom: 4px solid white;
  background-color: #ffffff24
}

.content {
  padding: 1rem 2rem;
  height: 100%;
}
