table {
  width: 100%;
  padding: 0px 16px 0 16px;
}

td.mat-cell, th.mat-header-cell {
  text-align: center;
  justify-content:center;
}

tr.mat-header-row {
  height: 56px;
  // background-color: $primary-color;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}

.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: #efefef;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-style: none;
}
// .mat-cell {
//   color: red;
// }
tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }


.packs-title{
  text-align: center;
  font-size: 25px;
  color: red;
}
