<app-home-croquis>
  <div class="container">
    <div class="row mb-3 mt-3">
      <div class="col-md-4 offset-md-8">
          <button mat-flat-button class="float-right align-center" color="primary" (click)="addSeance()">
              <mat-icon class="mr-1">add</mat-icon>
              Ajouter une séance
          </button>
      </div>
    </div>

    <div class="mb-2 mt-2">
      <div class="">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="day" style="text-align: center;">
            <th mat-header-cell cdkDrag *matHeaderCellDef> Jour </th>
            <td mat-cell *matCellDef="let element"> {{element.day | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="hours" style="text-align: center;">
            <th mat-header-cell cdkDrag *matHeaderCellDef>Heure</th>
            <td mat-cell *matCellDef="let element"> De {{element.startedDate | date: 'HH:mm'}} à {{element.endedDate | date: 'HH:mm'}}</td>
          </ng-container>

          <ng-container matColumnDef="workDone">
            <th mat-header-cell cdkDrag *matHeaderCellDef  style="text-align: left !important; justify-content: center !important;"> Travaux éffectués </th>
            <td mat-cell *matCellDef="let element" style="text-align: left !important; justify-content: center !important;"
            [innerHtml] = "element.workDone" ></td>
          </ng-container>

          <ng-container matColumnDef="validate" >
            <th mat-header-cell cdkDrag *matHeaderCellDef>Validation</th>
            <td mat-cell *matCellDef="let element" >
              <span *ngIf="element.validate"> Validé</span>
              <span *ngIf="!element.validate">Non Validé</span>
              <!-- {{element.validate}} -->
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell cdkDrag *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="valiate(element)" *ngIf="!element.validate" >Valider</button>
                <button mat-menu-item (click)="editSeance(element)" *ngIf="!element.validate" >Modifier</button>
                <button mat-menu-item (click)="deleteSeance(element)">Supprimer</button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
      </div>
    </div>
  </div>
</app-home-croquis>
