<app-dialog-croquis [title]="title" [otherCondition]= "subjectIsSelected" [validateText]="validateText" [data]="subjectField" [form]="form" (onFormSubmited)="onSubmit()" [isLoading]="isLoading">
  <form [formGroup]="form">
    <div class="row justify-content-center">
      <div class="col-lg-12 d-flex my-5" *ngIf="isLoadingSubject">
          <mat-spinner class="m-auto" [diameter]="30" [strokeWidth]="3">
          </mat-spinner>
      </div>

      <div class="col-lg-8 col-lg-offset-2" *ngIf="!isLoadingSubject">
          <div class="row justify-content-center danger-text mb-3" *ngIf="error">
              {{ errorMessage }}
          </div>

          <div class="row">
              <div class="col-lg-4 col-md-12 label">
                Matière
              </div>
              <div class="col-lg-8 col-md-8">
                  <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                      <input matInput type="text" autocomplete="off" formControlName="name" placeholder="La matiere" [matAutocomplete]="auto" (input)="filterSubjectField($event)" [(ngModel)]="search">
                  </mat-form-field>

                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectSubject($event)">
                      <mat-option *ngFor="let subject of subjects" [value]="subject">
                          {{subject.name}} ({{subject.code}})
                      </mat-option>
                  </mat-autocomplete>
              </div>

              <div class="col-lg-4 col-md-12 label">
                  Semestre
              </div>
              <div class="col-lg-8 col-md-8">
                  <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                      <mat-select formControlName="semester" [(ngModel)]="subjectField.semester">
                          <mat-option *ngFor="let type of semestreValue" [value]="type.key">
                              {{type.value}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </div>
      </div>
  </div>
</form>
</app-dialog-croquis>
