<app-head-croquis [linkTree]="linkTree" [isTimeout]="isTimeout" [isReloading]="isReloading" (onReload)="relaod()">
  <div class="row mb-3">
    <div class="col-md-4 offset-md-8">
        <button mat-flat-button class="float-right align-center" color="primary" (click)="definedProgramme()">
            <mat-icon class="mr-1">add</mat-icon>
            Definir un programme
        </button>
    </div>
  </div>
  <!--  -->
  <div>
    <div class="row mb-3">
      <div class="col-md-4">
        <mat-card class="parent">
          <div class="parent__header primary-text-color">
            Nombre total de programmation >
          </div>
          <div class="parent__content">
            <div class="parent__content__value">
              <h2 class="">{{statClassRoom.nbrTotalProgramming}}</h2>
            </div>
            <div class="parent__content__img parent__content__img__bg-1">
              <img src="assets/images/svg_blanc/teacher.svg" alt="">
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="parent">
          <div class="parent__header  accent-text-color" >
            Nombre de programmation en cours >
          </div>
          <div class="parent__content">
            <div class="parent__content__value">
              <h2>{{statClassRoom.nbrTotalProgramLoad}}</h2>
            </div>
            <div class="parent__content__img parent__content__img__bg-2">
              <img src="assets/images/svg_blanc/filière.svg" alt="">
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="parent">
          <div class="parent__header">
            Nombre de programmation terminée >
          </div>
          <div class="parent__content">
            <div class="parent__content__value">
              <h2>{{statClassRoom.nbrTotalProEnd}}</h2>
            </div>
            <div class="parent__content__img parent__content__img__bg-3">
              <img src="assets/images/svg_blanc/matière.svg" alt="">
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="mb-3">
    <mat-tab-group (selectedTabChange)="getAllProCalendars($event)">
      <mat-tab label="Mes programmations" >
        <div class="d-flex mb-3">
          <mat-spinner class="m-auto" *ngIf="isLoadingProgrammation" [diameter]="30" [strokeWidth]="3">
          </mat-spinner>
        </div>
        <div class="row mt-2" *ngIf="!isLoadingProgrammation">
          <div class="col-lg-12 col-md-12 mb-2" *ngFor="let programmeCourse of programmeCourses">
            <app-programm-item  [programmeCourse]="programmeCourse"
            (editProgrammeCourse)="editProgrammeCourse(programmeCourse)"
            (definedProCalendar) = "definedProCalendar(programmeCourse)"
            (showProCalendar) = "showProCalendar(programmeCourse)"
            (showSeance) = "showSeance(programmeCourse)"
            (makeActiveProgrammeCourse)="makeActiveProgrammeCourse(programmeCourse)"
            (removeProgrammeCourse)="removeProgrammeCourse(programmeCourse)"></app-programm-item>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Emploi du temps"  >
        <div class="d-flex mb-3">
          <mat-spinner class="m-auto" *ngIf="isLoadingTaskTime" [diameter]="30" [strokeWidth]="3">
          </mat-spinner>
        </div>
        <div class="row mt-2">
          <app-show-school-time-table [proCalendars] = "proCalendars"></app-show-school-time-table>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</app-head-croquis>
