.parent{
  padding: 16px;
  border-radius: 16px;
  &__header{

  }
  &__content{
    display: flex;
    justify-content: space-between;
    &__value{
      width: 90%;
      display: flex;
      flex-direction: column-reverse;
      h2{
        margin-bottom: 0px;
        font-size: 25px;
        color: #242426cf;
      }
    }
    &__img{
      &__bg-1{
        background-color: #273ff2ba;
      }
      &__bg-2{
        background-color: #09ae1fbf;
      }
      &__bg-3{
        background-color: #B4B4B5;
      }
      padding: 12px;
      border-radius: 10px;
      img{
        width: 1.5rem;
      }
    }
  }
}
