.time-table{
  display: flex;
  justify-content: space-around;
  &__content{
    width: 15rem;
    justify-content: center;
    border-left: 1px solid #6c757dd9;
    border-top: 1px solid #6c757dd9;
    border-bottom: 1px solid #6c757dd9;
    &__header{
      background-color: #6c757dd9;
      width: 100%;
      height: 3rem;
      text-align: center;
      border-bottom: 1px solid #6c757dd9;
      display: flex;
      justify-content: center;
      align-items: center;
      color: whitesmoke;
      h3{
        margin-bottom: 0px !important;
      }
    }
    &__value {
      display: flex;
      justify-content: center;
      text-align: center;
      border-bottom: 1px solid #6c757dd9;
      height: 8rem;
      align-items: center;
      &__show-field{
        width : 100%;
        h3{
          margin-bottom: 0;
          font-size: 21px;
          color: #242424e0;
        }
        span{
          font-size: 16px;
        }
      }
    }
    &__value-last:last-of-type{
      border-bottom: none;
    }
  }
  &__border:last-of-type{
    border-right: 1px solid #6c757dd9;
  }
}
