<app-head-croquis [linkTree]="linkTree" [isTimeout]="isTimeout" [isReloading]="isReloading" (onReload)="relaod()">

  <div class="mb-3">
    <mat-tab-group>
      <mat-tab [label]="year.value" *ngFor="let year of yearValue" >
        <div class="d-flex mb-3">
          <mat-spinner class="m-auto" *ngIf="isLoading" [diameter]="30" [strokeWidth]="3">
          </mat-spinner>
        </div>
        <div class="row mt-2">
          <!-- <div class="col-lg-6 col-md-12 mb-2" *ngFor="let market of markets"> -->
          <div class="col-lg-6 col-md-12 mb-2" *ngFor="let class of classRooms">
          <!-- <app-class-room-item [classRoom]="class" (addClassRoomResp)="addClassRoomResp(class, field)"  (editClassRoom)="editClassRoom(class, field)" (deleteClassRoom)="deleteClassRoom(class, field)"></app-class-room-item> -->
            <app-my-class-room-item (addClassRoomResp)="addClassRoomResp(class)"  *ngIf="class.years === year.key" [classRoom]="class"></app-my-class-room-item>

          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</app-head-croquis>
