.mat-card {
  padding: 0px;
  .m-r-1 {
      margin-right: -0.4rem;
      position: relative;
  }
  .product-title {
      font-weight: 300;
  }
  .mat-icon {
      line-height: 17px;
      font-size: 20px;
  }
}
