<app-et-dialogue-croquis [title]="title" [validateText]="validateText" [data]="data" [form]="form" (onFormSubmited)="onSubmit()" [isLoading]="isLoading">
  <form [formGroup]="form">
    <div class="col-lg-10 offset-lg-1">
        <div class="row justify-content-center danger-text mb-3" *ngIf="error">
            {{ errorMessage }}
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Nom
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="text" formControlName="name" placeholder="Nom" [(ngModel)]="academicYear.name">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 label">
              Début de l'année
          </div>

          <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                <input matInput formControlName="startedDate"  [matDatepicker]="picker" required [(ngModel)]="academicYear.startedDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 label">
              Fin de l'année
          </div>

          <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                <input matInput formControlName="endedDate"  [matDatepicker]="picker1" required [(ngModel)]="academicYear.endedDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div>
        </div>


    </div>
</form>
</app-et-dialogue-croquis>
