<app-et-admin [linkTree]="linkTree" [isTimeout]="isTimeout" [isReloading]="isReloading" (onReload)="relaod()">
  <div class="row mb-3">
    <div class="col-md-4 offset-md-8">
        <button mat-flat-button class="float-right align-center" color="primary" (click)="createField()">
            <mat-icon class="mr-1">add</mat-icon>
            Ajouter une filière
        </button>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-flex mb-3" *ngIf="isLoading">
      <mat-spinner class="m-auto" [diameter]="30" [strokeWidth]="3">
      </mat-spinner>
    </div>
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-6" *ngFor="let field of fields">
        <app-filed-item [field]="field" (editField)="editField(field)" (deleteField)="deleteField(field)"></app-filed-item>
      </div>
    </div>
  </div>
</app-et-admin>
