<app-dialog-croquis [title]="title"  [validateText]="validateText" [data]="programmeCourse" [form]="form" (onFormSubmited)="onSubmit()" [isLoading]="isLoading">
  <form [formGroup]="form">
    <div class="col-lg-10 offset-lg-1" >
        <div class="row justify-content-center danger-text mb-3" *ngIf="error">
            {{ errorMessage }}
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Date de début
            </div>

            <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                <input matInput formControlName="startedDate"  [matDatepicker]="picker1" required [(ngModel)]="programmeCourse.startedDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Date de fin
            </div>

            <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                <input matInput formControlName="endedDate"  [matDatepicker]="picker" required [(ngModel)]="programmeCourse.endedDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Durée
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="number" formControlName="duration" placeholder="durée" [(ngModel)]="programmeCourse.programmeDuration">
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
</app-dialog-croquis>
