<mat-card class="mb-2 pointer" (click)="openDetails()">
  <mat-card-content>
      <div class="align-center space-between">

          <div class="mr-auto p-2">
              <div class="product-title pointer" >
                  <span class="simple-text-color">{{subject.name}}</span> &nbsp; &nbsp;<span class="primary-text-color ">({{subject.code}})</span>
              </div>
             </div>
      </div>
  </mat-card-content>
</mat-card>
