<div mat-dialog-title class="align-center space-between">
  <h1 class="text-white" color="primary">{{ title }}</h1>

  <button mat-mini-fab (click)="close()">
      <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <table mat-table [dataSource]="dataSource" class="col-12">
        <ng-container matColumnDef="day" style="text-align: center;">
          <th mat-header-cell cdkDrag *matHeaderCellDef> Jour </th>
          <td mat-cell *matCellDef="let element"> {{element.day | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="hours" style="text-align: center;">
          <th mat-header-cell cdkDrag *matHeaderCellDef>Heure</th>
          <td mat-cell *matCellDef="let element"> De {{element.startedDate | date: 'HH:mm'}} à {{element.endedDate | date: 'HH:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="workDone">
          <th mat-header-cell cdkDrag *matHeaderCellDef  style="text-align: left !important; justify-content: center !important;"> Travaux éffectués </th>
          <td mat-cell *matCellDef="let element" style="text-align: left !important; justify-content: center !important;"
          [innerHtml] = "element.workDone" ></td>
        </ng-container>

        <ng-container matColumnDef="validate" >
          <th mat-header-cell cdkDrag *matHeaderCellDef> Validation</th>
          <td mat-cell *matCellDef="let element" >
            <span *ngIf="element.validate"> Validé</span>
            <span *ngIf="!element.validate">Non Validé</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button color="primary" mat-flat-button (click)="close()">
      {{ validateText }}</button>
</div>
