<ng-container>
  <mat-sidenav-container class="h-100 w-auto">
      <mat-sidenav #sidenav [mode]="mode" [opened]="hasBackdrop" class="example-sidenav" [fixedInViewport]="options.fixed" [fixedTopGap]="options.top" [fixedBottomGap]="options.bottom">
          <mat-toolbar class="bg-white">
            <div class="logo-container">
              <img class="rounded mr-2 logo" src="/assets/images/insti.png" alt="">
            </div>

              <span class="example-fill-remaining-space"></span>
              <button mat-button (click)="sidenav.toggle()">
        <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
      </button>
          </mat-toolbar>
          <mat-nav-list class = "nav-padding">
              <ng-container *ngFor="let link of links">
                  <div>
                      <mat-list-item class="nav-menu" [routerLink]="[link.link]" routerLinkActive="route-active" *ngIf="link.submenus==null || link.submenus.length==0; else elseBlock">
                          <mat-icon [svgIcon]="link.icon" color="primary" matListIcon aria-hidden="false"></mat-icon>
                          <a> {{ link.name }}</a>
                      </mat-list-item>
                      <ng-template #elseBlock>

                          <mat-expansion-panel [expanded]="router.isActive(link.link, false)" class="w-100 expand-menu nav-menu">
                              <mat-expansion-panel-header class="w-100">
                                  <mat-panel-title>
                                      <mat-icon [svgIcon]="link.icon" color="primary" matListIcon aria-hidden="false"></mat-icon>
                                      <a class="ml-3"> {{ link.name }}</a>
                                  </mat-panel-title>
                              </mat-expansion-panel-header>

                              <mat-nav-list class="pt-0">
                                  <!-- <mat-list-item *ngFor="let item of link?.submenus" [routerLink]="item.link" routerLinkActive="route-active">
                                      <mat-icon [svgIcon]="item.icon" color="primary" matListIcon aria-hidden="false"></mat-icon>
                                      <a>{{item.name}}</a>
                                  </mat-list-item> -->
                              </mat-nav-list>
                          </mat-expansion-panel>

                      </ng-template>

                  </div>
              </ng-container>
          </mat-nav-list>

      </mat-sidenav>

      <mat-sidenav-content>

          <mat-toolbar color="white" class="toolbar bg-white" #toolbar [ngClass]="{'fullwidth': toolbarFullWidth, 'w-100': mode=='over'}">
              <button mat-button (click)="sidenav.toggle()" *ngIf="!sidenav.opened">
        <mat-icon aria-hidden="false" aria-label="menu">menu</mat-icon>
      </button>
              <ol class="breadcrumb" *ngIf="linkTree.length>0 && mode!='over'">
                  <li class="breadcrumb-item " *ngFor="let item of linkTree; let i=index;">
                      <a class="active" *ngIf="i === linkTree.length-1" [href]="item.link">{{item.name}}</a>
                      <a *ngIf="i !== linkTree.length-1" [href]="item.link">{{item.name}}</a>
                  </li>
              </ol>

              <ol class="breadcrumb title-mobile" *ngIf="linkTree.length>0 && mode=='over'">
                  <li class="breadcrumb-item ">
                      <a class="active" [href]="linkTree[linkTree.length-1].link">{{linkTree[linkTree.length-1].name}}</a>
                  </li>
              </ol>
              <span class="example-fill-remaining-space"></span>

              <span class="username mr-2 success-text" *ngIf="!isLoadingProfile && mode!='over'">{{ actor.firstName ? actor.firstName : '' + ' ' + actor.lastName ? actor.lastName : '' }}</span>
              <button mat-button [matMenuTriggerFor]="menu" class="profile-avatar">
              <img class="log" [src]="authService.getImageURL(actor?.mediaFile?.thumbnailUrl!)" alt="">
       </button>
              <mat-menu #menu="matMenu">
                  <!-- <button mat-menu-item routerLink="/manager/profile">Profile</button> -->
                  <!-- <a class="primary-text" mat-menu-item href="/" target="_blank"><span>Aller sur le Portail</span></a>  -->
                  <button mat-menu-item (click)="deconnexion()">Se déconnecter</button>
              </mat-menu>
          </mat-toolbar>
          <main>
              <!-- <div class="title-space">
  <h3>{{title}}</h3>
</div> -->
              <div class="content">
                  <ng-content></ng-content>

              </div>
          </main>

      </mat-sidenav-content>
  </mat-sidenav-container>


  <div class="connexion-error-wrapper" *ngIf="isTimeout">
      <div class="connexion-error">
          <span class="mr-3">Problème de connexion</span>
          <mat-spinner [diameter]="30" [strokeWidth]="3" *ngIf="isReloading"></mat-spinner>
          <button mat-flat-button class="float-right align-center" color="primary" *ngIf="!isReloading" (click)="onReload.emit()">
      Recharger
    </button>
      </div>
  </div>

</ng-container>
