// @import '~@angular/material/theming';
@import "../../../custom-theme.scss";

.example-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  background: rgb(255, 255, 255);
  border: none;
  //border-top-right-radius: 32px;
  //border-bottom-right-radius: 32px;
  box-shadow: 0 14px 25px rgba(0, 0, 0, .12) !important;
}

.avatar {
  width: 48px;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar {
  position: fixed;
  width: calc(100% - 260px);
  border-bottom: 1px #e6e6e6 solid;
}

.fullwidth {
  width: 100%;
}

.logo-container {
  width: 73%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 16%;
}

.logo {
  width: 88px;
  height: auto;

  object-fit: cover;
}

.log {
  width: 40px;
  height: 42px;
  border-radius: 30px;
  object-fit: cover;
}

main {
  margin-top: 60px;
  position: relative;
  height: calc(100% - 60px);

  .content {
    padding: 1rem 2rem;
    height: 100%;
  }

  @media (max-width: 767px) {
    .content {
      padding: 1rem 0.5rem;
    }
  }
}

.nav-padding {
  padding: 16px !important;
}

.route-active {
  color: $dark-primary !important;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 12px;

  border-bottom: 5px solid mat-color($textbook-dash-primary) !important;
  font-weight: 500;


  // border-left: 4px solid mat-color($textbook-dash-primary) !important;
  mat-icon svg path {
    fill: mat-color($textbook-dash-primary);
  }
}

.mat-list-item {
  // border-radius: 0px 50px 50px 0px;

  transition: background-color .25s ease-in;
  // margin-bottom: 1px;

  // color: rgba(35, 35, 35, 0.87);
  font-size: 15px !important;
  border-bottom: 5px solid transparent;
  font-weight: 500;

  &:hover {
    // color: #242424;
    // background-color: rgba(46, 171, 129, 0.70);
    // color: #ffffff !important;
    border-bottom: 5px solid mat-color($textbook-dash-primary);
  }

  .mat-list-icon {
    margin-right: 0.5rem !important;
  }

  /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
  mat-icon svg path {
    fill: rgb(81, 92, 113);
  }


}

mat-expansion-panel {
  box-shadow: none !important;
  border-radius: 0;

  mat-expansion-panel-header {
    height: 56px !important;
  }

  mat-panel-title {
    font-weight: 500;
  }

}

// mat-nav-list {
// padding-right: 16px;
// }

.title-space {
  padding: 2rem 2rem;
  background-color: #647577;
  color: #ffffff;

  h3 {
    font-weight: 400;
    font-size: 1.5rem;
  }
}

mat-toolbar {
  z-index: 3;
}

.breadcrumb {
  background-color: transparent;
  display: inline-flex;
  margin-bottom: 0;
  font-size: 1rem;

  .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #515C71;
  }

  a {
    color: #515C71;
    text-decoration: none;
  }

  .active {
    color: $dark-primary;
  }
}

.btn-settings {
  border-radius: 32px;
}

.settings-zone {
  bottom: 80px;
  left: 0;
  right: 0;
}

.username {
  font-size: 0.9rem;
}

.mat-menu-item {
  margin: 0 10px;
  padding: 10px;
  height: auto;
  line-height: 20px;
}

.notification-bottom-border {
  border-bottom: 1px solid #e6e6e6;
}

.notification-status {
  background-color: #f24163;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.notification-seen {
  background: #e6e6e6;
}


.title-mobile {
  white-space: break-spaces;
  line-height: 1;
}

.connexion-error-wrapper {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 314px/2);
  background: #ffc182;
  width: 314px;
  z-index: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;

  .connexion-error {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: 35px !important;
    }
  }
}
