<app-et-dialogue-croquis [title]="title" [validateText]="validateText" [data]="data" [form]="form" (onFormSubmited)="onSubmit()" [isLoading]="isLoading">
  <form [formGroup]="form">
    <div class="col-lg-10 offset-lg-1" >
        <div class="row justify-content-center danger-text mb-3" *ngIf="error">
            {{ errorMessage }}
        </div>
        <div class="row mb-3" >
          <div class="col-lg-12 col-md-12 label">
              Liste des filières
          </div>

          <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                  <mat-select formControlName="field" [(ngModel)]="fieldIdSelected" >
                      <mat-option *ngFor="let field of fields" [value]="field.id">
                          {{field.name}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </div>
    </div>
</form>
</app-et-dialogue-croquis>
