.connexion-error-wrapper {
  position: absolute;
  left: calc(50% - 314px/2);
  background: #fff;
  width: 314px;
  z-index: 1;
  padding: 8px;

  .connexion-error {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: 35px !important;
    }
  }
}
