<div mat-dialog-title class="align-center space-between">
  <h1 class="text-white" color="primary">{{ title }}</h1>

  <button mat-mini-fab (click)="close()">
      <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <ng-content></ng-content>
</div>

<div mat-dialog-actions>
  <button color="primary" mat-flat-button (click)="onSubmit()" [disabled]="!form?.valid" *ngIf="!isLoading">
      {{ validateText }}</button>
  <mat-spinner class="align-center" *ngIf="isLoading" [diameter]="30" [strokeWidth]="3"></mat-spinner>

  <div class="connexion-error-wrapper" *ngIf="isTimeout">
      <div class="connexion-error">
          <span class="mr-3">Problème de connexion</span>
          <mat-spinner [diameter]="30" [strokeWidth]="3" *ngIf="isReloading"></mat-spinner>
          <button mat-flat-button class="float-right align-center" color="primary" *ngIf="!isReloading" (click)="onReload.emit()">
              Recharger
          </button>
      </div>
  </div>
</div>
