<app-home-croquis>
  <div class="container">

    <div class="d-flex mb-3">
      <mat-spinner class="m-auto" *ngIf="isLoading" [diameter]="30" [strokeWidth]="3">
      </mat-spinner>
    </div>

    <div class="row mt-2">
      <div class="col-lg-6 col-md-6 mb-2" *ngFor="let teacherOperator of teacherOperators">
        <app-programming-item [teacherOperator] = "teacherOperator"></app-programming-item>
      </div>
    </div>
  </div>

</app-home-croquis>
