<app-et-dialogue-croquis [title]="title" [validateText]="validateText" [data]="data" [form]="form" (onFormSubmited)="onSubmit()" [isLoading]="isLoading">
  <form [formGroup]="form">
    <div class="col-lg-10 offset-lg-1" *ngIf="show">
        <div class="row justify-content-center danger-text mb-3" *ngIf="error">
            {{ errorMessage }}
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Nom
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="text" formControlName="lastName" placeholder="Nom" [(ngModel)]="addActor.lastName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Prénom
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="text" formControlName="firstName" placeholder="Prénom" [(ngModel)]="addActor.firstName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Email
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="email" formControlName="email" placeholder="Email" [(ngModel)]="addActor.email">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Titre
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="text" formControlName="title" placeholder="Titre" [(ngModel)]="addActor.title">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Téléphone
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="text" formControlName="phone" placeholder="Téléphone" [(ngModel)]="addActor.phone">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Adresse
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="text" formControlName="address" placeholder="Adresse" [(ngModel)]="addActor.address">
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="mode !== 'edit'">
            <div class="col-lg-12 col-md-12 label">
                Mot de passe
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="text" formControlName="password" placeholder="Mot de passe" [(ngModel)]="addActor.password">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <div class="img-zone">
                  <div class="img-chooser">
                      <div class="btn-chooser">
                          <p>{{ loadFileText }}</p>
                          <button type="button" mat-raised-button (click)="fileInput.click()">{{ fileBtnText }}</button>
                      </div>

                      <input hidden #fileInput type="file" id="file" accept="application/pdf, image/*, .doc, .docx, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" (change)="loadFileChoosed(fileInput.files)" formControlName="file">
                  </div>
              </div>
          </div>
      </div>
    </div>
</form>
</app-et-dialogue-croquis>
