.img-zone {
    position: relative;
    padding-bottom: 1.25em;
    height: 100px;
    .img-chooser {
        height: 100px;
        width: 100%;
        position: absolute;
        border-radius: 5px;
        border: 1px dashed #64757788;
        background-color: #64757722;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #64757755;
            transition: ease-in 0.5s;
        }
        .btn-chooser {
            text-align: center;
            width: 100%;
        }
    }
}
