<app-et-dialogue-croquis [title]="title" [validateText]="validateText" [data]="data" [form]="form" (onFormSubmited)="onSubmit()" [isLoading]="isLoading">
  <form [formGroup]="form">
    <div class="col-lg-10 offset-lg-1">
        <div class="row justify-content-center danger-text mb-3" *ngIf="error">
            {{ errorMessage }}
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Nom
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="text" formControlName="name" placeholder="Nom" [(ngModel)]="classRoom.name">
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-3" >
          <div class="col-lg-12 col-md-12 label">
              Année
          </div>

          <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                  <mat-select formControlName="year" [(ngModel)]="classRoom.years" >
                      <mat-option *ngFor="let option of yearsValue" [value]="option.key">
                          {{option.value}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="row mb-3" >
          <div class="col-lg-12 col-md-12 label">
              Option
          </div>

          <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                  <mat-select formControlName="option" [(ngModel)]="selectOptionId" >
                      <mat-option *ngFor="let option of field.options" [value]="option.id">
                          {{option.name}} ( {{option.code}})
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
        </div>


    </div>
</form>
</app-et-dialogue-croquis>
