.custom{
  padding: 10px 20px 10px 20px;
  &__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__tilte{
      margin-bottom: 0;
    }
  }
}
.setting{
  padding: 10px 22px 10px 20px;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__parent{
      display: flex;
    }
    &__tilte{
      margin-bottom: 0;
    }
    &__btn{
      width: auto;
      height: auto;
      flex-shrink: 0;
      line-height: 0px;
    }
  }
}

.chips-color{
  background-color: #f5f5f5;
  color: #656565bb;
}

.parent{
  padding: 16px;
  border-radius: 16px;
  &__header{

  }
  &__content{
    display: flex;
    justify-content: space-between;
    &__value{
      width: 90%;
      display: flex;
      flex-direction: column-reverse;
      h2{
        margin-bottom: 0px;
        font-size: 50px;
        color: #242426cf;
      }
    }
    &__img{
      &__bg-1{
        background-color: #273ff2ba;
      }
      &__bg-2{
        background-color: #09ae1fbf;
      }
      &__bg-3{
        background-color: #B4B4B5;
      }
      padding: 12px;
      border-radius: 10px;
      img{
        width: 3rem;
      }
    }
  }
}

.no-year{
  height: 78%;
  &__card{
    background-color: #ededed99;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  mat-card{
    display: flex;
    align-items: center;
    div{
      margin-right: 1rem;
      font-size: 17px;
    }
  }
}

.stat-field{
  &__header{
    &__title{
      font-size: 12px;
      color: #656565bb;
    }
    &__content{
      &__header{
        display: flex;
        align-items: center;
        &__image{
          margin-right: 9px;
          img{
            width: 60px;
            height: 60px;
            object-fit: cover;
            border: 2px solid white;
            border-radius: 50%;
          }
        }
        &__description{
          h3{
            margin-bottom: 1px;
            font-size: 20px;
            font-weight: 500;
            color: #273ff2;
          }
          p{
            margin-bottom: 0;
          }
        }
      }

    }
  }
}

.border-class{
  border-left: 2px solid #2eab82;
}

.info-org{
  &__title{
    font-size: 12px;
    color: #656565bb;
  }
  &__value{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    color: #2eab82;
  }
}
