<app-et-admin [linkTree]="linkTree" [isTimeout]="isTimeout" [isReloading]="isReloading" (onReload)="relaod()">
  <div class="row mb-3">
    <div class="col-md-4">
      <mat-card class="parent">
        <div class="parent__header primary-text-color">
          Nombre total d'enseignants >
        </div>
        <div class="parent__content">
          <div class="parent__content__value">
            <h2 class="">{{statFirst.nbrTeacher}}</h2>
          </div>
          <div class="parent__content__img parent__content__img__bg-1">
            <img src="../../../assets/images/svg_blanc/teacher.svg" alt="">
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="parent">
        <div class="parent__header  accent-text-color" >
          Nombre total de filières >
        </div>
        <div class="parent__content">
          <div class="parent__content__value">
            <h2>{{statFirst.nbrField}}</h2>
          </div>
          <div class="parent__content__img parent__content__img__bg-2">
            <img src="../../../assets/images/svg_blanc/filière.svg" alt="">
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="parent">
        <div class="parent__header">
          Nombre total de matières >
        </div>
        <div class="parent__content">
          <div class="parent__content__value">
            <h2>{{statFirst.nbrSubject}}</h2>
          </div>
          <div class="parent__content__img parent__content__img__bg-3">
            <img src="../../../assets/images/svg_blanc/matière.svg" alt="">
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="d-flex mb-3" *ngIf="isLoading">
    <mat-spinner class="m-auto" [diameter]="30" [strokeWidth]="3">
    </mat-spinner>
  </div>

  <div *ngIf="!isLoading">
    <div class="no-year"  *ngIf="currentAcademicYear ==null">
      <mat-card class="no-year__card">
        <button mat-flat-button  color="primary" (click)="createAcademicYear()">
          Créer l'année académique
      </button>
      </mat-card>
    </div>

    <div *ngIf="currentAcademicYear != null">
      <div class="header mb-3">
        <mat-card>
          <div>
            {{currentAcademicYear.name}}
          </div>
          <button mat-flat-button  color="primary" [matMenuTriggerFor]="menu">
            <mat-icon class="mr-1">more_vert</mat-icon>
        </button>
        </mat-card>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Ouvrir une année</button>
          <button mat-menu-item (click)="createAcademicYear()">Créer une nouvelle année</button>
        </mat-menu>
      </div>

      <div>
        <div class="row">
          <div class="col-md-4" *ngFor="let statByField of statByFields">
            <mat-card class="custom">
              <div class="setting__content" >
                <div class="custom__content">
                  <mat-icon [svgIcon] = "'filière'"></mat-icon>
                  <label style="margin-left: 16px;" class="custom__content__tilte">{{statByField.field.code}}</label>
                </div>
                <!-- <button mat-icon-button class="setting__content__btn" [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button> -->
              </div>
            </mat-card>
            <mat-card class="stat-field" *ngIf="statByField.head != null">
              <div class="stat-field__header">
                <label for="" class="stat-field__header__title">Chef département</label>
                <div class="stat-field__header__content">
                  <div class="stat-field__header__content__header mb-2">
                    <div class="stat-field__header__content__header__image ">
                      <img class=""  [src]="actorService.getImageURL(statByField.head.mediaFile.url)">
                    </div>
                    <div class="stat-field__header__content__header__description">
                      <h3 class=" " color="primary">{{statByField.head.firstName + ' ' + statByField.head.lastName}}</h3>
                      <p>{{statByField.head.email}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
            <mat-card class="" *ngIf="statByField.head == null">
              <div style="text-align: center;">
                <mat-chip class="chips-color" >Chef département non défini</mat-chip>
              </div>
            </mat-card>
            <mat-card>
              <div>
                <div class="row">
                  <div class="col-md-6 info-org  ">
                    <label class="info-org__title">Nombre d'options</label>
                    <h3 class="info-org__value" >{{statByField.nbrOption}}</h3>
                  </div>
                  <div class="col-md-6 info-org border-class">
                    <label class="info-org__title">Nombre de classes</label>
                    <h3 class="info-org__value" >{{statByField.nbrClass}}</h3>
                  </div>

                </div>
              </div>
            </mat-card>
            <mat-card>
              <div>
                <div class="row">
                  <div class="col-md-4 info-org  ">
                    <label class="info-org__title">1er</label>
                    <h3 class="info-org__value" >{{statByField.nbrClassRoomFirst}}/{{statByField.nbrClass}}</h3>
                  </div>
                  <div class="col-md-4 info-org border-class">
                    <label class="info-org__title">2eme</label>
                    <h3 class="info-org__value" >{{statByField.nbrClassRoomSecond}}/{{statByField.nbrClass}}</h3>
                  </div>
                  <div class="col-md-4 info-org border-class">
                    <label class="info-org__title">3eme</label>
                    <h3 class="info-org__value" >{{statByField.nbrClassRooThird}}/{{statByField.nbrClass}}</h3>
                  </div>

                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-et-admin>
