<app-head-croquis [linkTree]="linkTree" [isTimeout]="isTimeout" [isReloading]="isReloading" (onReload)="relaod()">
  <div class="d-flex mb-3">
    <mat-spinner class="m-auto" *ngIf="isLoading" [diameter]="30" [strokeWidth]="3">
    </mat-spinner>
  </div>
  <div class="mb-3">
    <mat-tab-group>
      <mat-tab [label]="year.value" *ngFor="let year of yearValue" >
        <div class="d-flex mb-3">
          <mat-spinner class="m-auto" *ngIf="isLoading" [diameter]="30" [strokeWidth]="3">
          </mat-spinner>
        </div>
        <div class="row mt-2">
          <div class="col-lg-12 col-md-12 mb-2" *ngFor="let class of timesTables">
            <div class="class-room-title mb-2" *ngIf="class.classRoom.years === year.key">
              <mat-card class="class-room-title__head">{{class.classRoom.name}}</mat-card>
            </div>
            <app-show-school-time-table *ngIf="class.classRoom.years === year.key" [proCalendars] = "class.proCalendars"></app-show-school-time-table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-head-croquis>
