<div class="h-100 d-flex flex-column">
  <mat-card class="custom">
    <div class="setting__content" >
      <div class="custom__content">
        <mat-icon>person</mat-icon>
        <label style="margin-left: 16px;" class="custom__content__tilte">{{ checkTitle ()}}</label>
      </div>
      <button mat-icon-button class="setting__content__btn" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="definedAsHead.emit()" *ngIf="teacher.type !== 'HEAD_OF_DEPARTMENT'" >Définir comme chef département</button>
    <button mat-menu-item (click)="removeAsHead.emit()"  *ngIf="teacher.type === 'HEAD_OF_DEPARTMENT'">Retirer le titre</button>
    <button mat-menu-item (click)="editTeacher.emit()">Editer </button>
    <button mat-menu-item (click)="deleteTeacher.emit()" >Supprimer</button>
  </mat-menu>
  <mat-card class="flex-fill">
    <div class="teacher-parent">
      <div class="teacher-parent__header mb-2">
        <div class="teacher-parent__header__image ">
          <img class=""  [src]="actorService.getImageURL(teacher.mediaFile.url)">
        </div>
        <div class="teacher-parent__header__description">
          <h3 class=" " color="primary"> {{teacher.firstName + ' ' + teacher.lastName}}</h3>
          <p>{{teacher.email}}</p>
        </div>
      </div>
      <div class="teacher-parent__title">
        <mat-chip-list aria-label="title">
          <mat-chip class="chips-color" >{{ teacher.title }}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div class="row">
      <div class="col-md-4 info-org ">
        <label class="info-org__title">Téléphone</label>
        <h3 class="info-org__value" >{{ teacher.phone }}</h3>
      </div>
      <div class="col-md-8 info-org border-class ">
        <label class="info-org__title">Adresse</label>
        <h3 class="info-org__value"  >{{ teacher.address}}</h3>
      </div>
    </div>
  </mat-card>
</div>
