.custom{
  padding: 10px 20px 10px 20px;
  &__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__tilte{
      margin-bottom: 0;
    }
  }
}

.teacher-parent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header{
    display: flex;
    align-items: center;
    &__image{
      margin-right: 9px;
      img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 50%;
      }
    }
    &__description{
      h3{
        margin-bottom: 1px;
        font-size: 20px;
        font-weight: 500;
        color: #273ff2;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
  &__title{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.setting{
  padding: 10px 22px 10px 20px;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__parent{
      display: flex;
    }
    &__tilte{
      margin-bottom: 0;
    }
    &__btn{
      width: auto;
      height: auto;
      flex-shrink: 0;
      line-height: 0px;
    }
  }
}

.border-class{
  border-left: 2px solid #2eab82;
}
.info-org{
  &__title{
    font-size: 11px;
    color: #656565bb;
  }
  &__value{
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    color: #2eab82;
  }
}



.chips-color{
  background-color: #f5f5f5;
  color: #656565bb;
}
