<app-head-croquis [linkTree]="linkTree" [isTimeout]="isTimeout" [isReloading]="isReloading" (onReload)="relaod()">
  <div class="row mb-3">
    <div class="col-md-4 offset-md-8">
        <button mat-flat-button class="float-right align-center" color="primary" (click)="addSubjectField()">
            <mat-icon class="mr-1">add</mat-icon>
            Ajouter une matière
        </button>
    </div>
  </div>

  <div class="mb-3">
    <mat-tab-group>
      <mat-tab [label]="semester.value" *ngFor="let semester of semestreValue" >
        <div class="d-flex mb-3">
          <mat-spinner class="m-auto" *ngIf="isLoading" [diameter]="30" [strokeWidth]="3">
          </mat-spinner>
        </div>
        <div class="row mt-2">
          <div class="col-lg-4 col-md-4 mb-2" *ngFor="let subjectField of refactorElement(semester.key, subjectFields)">
            <app-subject-field-item  *ngIf="subjectField.semester === semester.key" [subjectField]="subjectField" (removeSubjectField)="removeSubjectField(subjectField)"></app-subject-field-item>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

</app-head-croquis>
