<mat-card class="mb-2">
  <mat-card-content>
      <div class="align-center space-between">
        <div class="mr-auto p-2">
            <div class="product-title pointer" >
              <span class="simple-text-color">{{option.name}}</span> &nbsp; &nbsp;<span class="primary-text-color ">({{option.code}})</span>
            </div>
            </div>
          <div class="d-flex">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editOption.emit()">Editer</button>
                <button mat-menu-item (click)="deleteOption.emit()">Supprimer</button>
            </mat-menu>
        </div>
      </div>
  </mat-card-content>
</mat-card>
