<mat-card class="mb-2">
  <mat-card-content>
      <div class="align-center space-between">

          <div class="mr-auto p-2">
              <div class="product-title pointer" >
                  <span class="simple-text-color">{{subject.name}}</span> &nbsp; &nbsp;<span class="primary-text-color ">({{subject.code}})</span>
              </div>
             </div>
            <div class="d-flex">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="removeSubjectField.emit()">Retirer</button>
              </mat-menu>
          </div>
      </div>
  </mat-card-content>
</mat-card>
