<div class="mb-3">
  <mat-card>
    <div class="row">
      <div class="col-md-6 info-org ">
        <label class="info-org__title">Classe</label>
        <h3 class="info-org__value" >{{ classRoom.name }}</h3>
      </div>
      <div class="col-md-4 info-org border-class ">
        <label class="info-org__title">Année</label>
        <h3 class="info-org__value"  >{{ formatYear()}}</h3>
      </div>
      <div class="col-md-2 action">
        <button mat-icon-button class="" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addClassRoomResp.emit()" *ngIf="classRoom.classRepresentative.length <2" >Ajouter un responsable</button>
        <button mat-menu-item (click)="openDetails()">Détail</button>
      </mat-menu>
    </div>
    <!-- TODO a corriger margin bottom -->
    <div class="options mt-2 mb-3">
      <mat-chip-list aria-label="title">
        <ng-container *ngIf="classRoom.option != null; else elseTemplate">
          <mat-chip class="chips-color" >{{ classRoom.option?.name }}</mat-chip>
        </ng-container>
        <ng-template #elseTemplate>
          <mat-chip class="chips-color" >Génerale</mat-chip>
        </ng-template>
      </mat-chip-list>
    </div>
    <div class="row">
      <div class="col-md-6 info-org ">
        <label class="info-org__title">Responsable 1</label>
        <ng-container *ngIf="(classRoom.classRepresentative.length == 0); else elseTemplate2">
          <div>
            <mat-chip class="chips-color" >Non défini</mat-chip>
          </div>
        </ng-container>
        <ng-template #elseTemplate2>
          <h3 class="info-org__value" >{{ classRoom.classRepresentative[0].firstName + ' ' + classRoom.classRepresentative[0].lastName }}</h3>
          <span class="info-org__title">({{classRoom.classRepresentative[0].email}})</span>
        </ng-template>

      </div>
      <div class="col-md-6 info-org ">
        <label class="info-org__title">Responsable 2</label>
        <ng-container *ngIf="(classRoom.classRepresentative.length < 2); else elseTemplate3">
          <div>
            <mat-chip class="chips-color" >Non défini</mat-chip>
          </div>
        </ng-container>
        <ng-template #elseTemplate3>
          <h3 class="info-org__value" >{{ classRoom.classRepresentative[1].firstName + ' ' + classRoom.classRepresentative[1].lastName }}</h3>
          <span class="info-org__title">({{classRoom.classRepresentative[1].email}})</span>
        </ng-template>
      </div>
    </div>
  </mat-card>
</div>
