.border-class{
    border-left: 2px solid #2eab82;
  }
  .info-org{
    &__title{
      font-size: 11px;
      color: #656565bb;
    }
    &__value{
      margin-bottom: 0;
      font-size: 15px;
      font-weight: 500;
      color: #2eab82;
    }
  }

  .chips-color{
    background-color: #f5f5f5;
    color: #656565bb;
  }

  .options{
    width: 100%;
    display: flex;
    justify-content: center;
  }
