<div class="mb-2">
  <mat-card class="panel">
    <div class="panel__left bg-left-panel" [ngClass]="{'bg-left-panel-invalid': !programmeCourse.started}" >
      <span class="panel__left__hours">{{programmeCourse.programmeDuration}} H</span>
    </div>
    <div class="panel__right">
      <div class="row">
        <div class="col-md-4 info-org ">
          <label class="info-org__title">Matière</label>
          <h3 class="info-org__value" >{{programmeCourse.subjectField.subject.name}} ({{programmeCourse.subjectField.subject.code}})</h3>
        </div>
        <div class="col-md-4 info-org border-class ">
          <label class="info-org__title">Professeur</label>
          <h3 class="info-org__value"  >{{programmeCourse.professor.firstName}} {{programmeCourse.professor.lastName}}</h3>
        </div>
        <div class="col-md-3 info-org border-class " *ngIf="!load">
          <label class="info-org__title">Nombre de seances effectuées</label>
          <h3 class="info-org__value"  >{{statProgram.nbrSeance}}</h3>
        </div>
        <div class="col-md-3 info-org border-class " *ngIf="load">
          <div class="d-flex mb-3">
            <mat-spinner class="m-auto" *ngIf="load" [diameter]="30" [strokeWidth]="3">
            </mat-spinner>
          </div>
        </div>
        <div class="col-md-1 ">
          <button mat-icon-button class="" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showSeance.emit()" *ngIf="programmeCourse?.started" >Voir les séances</button>
          <button mat-menu-item (click)="definedProCalendar.emit()" *ngIf="programmeCourse?.started" >Définir les honoraires</button>
          <button mat-menu-item (click)="showProCalendar.emit()"  *ngIf="programmeCourse?.started" >Voir les honoraires</button>
          <button mat-menu-item (click)="editProgrammeCourse.emit()"  >Editer</button>
          <button mat-menu-item (click)="removeProgrammeCourse.emit()" >Supprimer</button>
        </mat-menu>
      </div>
      <div class="row mt-2">
        <div class="col-md-4 info-org ">
          <label class="info-org__title">Date de début</label>
          <h3 class="info-org__value" >{{programmeCourse.startedDate | date: 'dd/MM/yyyy'}}</h3>
        </div>
        <div class="col-md-4 info-org border-class ">
          <label class="info-org__title">Date de fin</label>
          <h3 class="info-org__value"  >{{programmeCourse.endedDate | date: 'dd/MM/yyyy'}}</h3>
        </div>
        <div class="col-md-3 info-org border-class " *ngIf="!load">
          <label class="info-org__title">Nombre total d'heures effectuées</label>
          <h3 class="info-org__value"  >{{statProgram.nbrTimeDone}} Heures</h3>
        </div>
        <div class="col-md-3 info-org border-class " *ngIf="load">
          <div class="d-flex mb-3">
            <mat-spinner class="m-auto" *ngIf="load" [diameter]="30" [strokeWidth]="3">
            </mat-spinner>
          </div>
        </div>
        <div class="col-md-1 action-2">
            <mat-slide-toggle [(ngModel)]="isChecked" [disabled] = "isChecked" (change)= "onToggle($event)"></mat-slide-toggle>
        </div>
      </div>
    </div>
  </mat-card>
</div>
