.panel{
  display: flex;
  border-radius: 1rem;
  &__left{
    margin: -16px !important;
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    &__hours{
      display: flex;
    text-align: center;
    justify-content: center;
    padding: 7px;
    border-radius: 94%;
    background-color: white;
    color: #656565;
    font-size: 18px;
    height: 4rem !important;
    width: 4rem !important;
    flex-direction: column;
    }
  }
  &__right{
    width: 95%;
    padding-left: 30px;
  }
}

.bg-left-panel{
  background-color: #2eab82;
}

.bg-left-panel-invalid{
  background-color: #B4B4B5 !important;
}


.border-class{
  border-left: 2px solid #2eab82;
}
.info-org{
  &__title{
    font-size: 11px;
    color: #656565bb;
  }
  &__value{
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    color: #2eab82;
  }
}

.validate-color{
  color: #2eab82 !important;
}

.in-validate-color{
  color: #B4B4B5 !important;
}


.action-2{
  display: flex;
  flex-direction: column-reverse;
}

// &__bg-1{
//   background-color: #273ff2ba;
// }
// &__bg-2{
//   background-color: #09ae1fbf;
// }
// &__bg-3{
//   background-color: #B4B4B5;
// }
