.custom{
  padding: 10px 20px 10px 20px;
  &__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__tilte{
      margin-bottom: 0;
    }
  }
}
.setting{
  padding: 10px 22px 10px 20px;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__parent{
      display: flex;
    }
    &__tilte{
      margin-bottom: 0;
    }
    &__btn{
      width: auto;
      height: auto;
      flex-shrink: 0;
      line-height: 0px;
    }
  }
}
