<app-et-admin [linkTree]="linkTree" [isTimeout]="isTimeout" [isReloading]="isReloading" (onReload)="relaod()">

  <div class="d-flex mb-3" *ngIf="isLoading">
    <mat-spinner class="m-auto" [diameter]="30" [strokeWidth]="3">
    </mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="mt-2">
    <div *ngFor="let field of fields" class="mt-3 mb-2">
      <mat-card class="custom" style="margin-bottom: 5px;">
        <div class="setting__content" >
          <div class="custom__content">
            <mat-icon [svgIcon] = "'filière'"></mat-icon>
            <label style="margin-left: 16px;" class="custom__content__tilte">{{field.name}} ({{field.code}})</label>
          </div>
          <button mat-icon-button class="setting__content__btn" (click)="addClassRoom(field)" >
            <mat-icon>control_point</mat-icon>
          </button>
        </div>
      </mat-card>
      <div class="d-flex mb-3" *ngIf="field.classRoom == null">
        <mat-spinner class="m-auto" [diameter]="30" [strokeWidth]="3">
        </mat-spinner>
      </div>
      <div class="row" *ngIf="(field.classRoom !== null) && (field.classRoom?.length! > 0)">
        <div class="col-md-4" *ngFor="let class of field.classRoom">
          <app-class-room-item [classRoom]="class" (addClassRoomResp)="addClassRoomResp(class, field)"  (editClassRoom)="editClassRoom(class, field)" (deleteClassRoom)="deleteClassRoom(class, field)"></app-class-room-item>
            <!-- {{class.name}} -->
        </div>
      </div>

    </div>
  </div>
</app-et-admin>
