<mat-card class="mb-2 pointer" (click)="openDetails()">
  <mat-card-content>
    <div class="row">
      <div class="col-md-6 info-org ">
        <label class="info-org__title">Matière</label>
        <h3 class="info-org__value" >{{teacherOperator.subjectField.subject.name}} ({{teacherOperator.subjectField.subject.code}})</h3>
      </div>
      <div class="col-md-6 info-org border-class ">
        <label class="info-org__title">Classe</label>
        <h3 class="info-org__value"  >{{teacherOperator.classRoom.name}} / {{teacherOperator.field.code}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 info-org ">
        <label class="info-org__title">Date de début</label>
        <h3 class="info-org__value" >{{teacherOperator.startedDate | date: 'dd/MM/yyyy'}}</h3>
      </div>
      <div class="col-md-6 info-org border-class ">
        <label class="info-org__title">Date de fin</label>
        <h3 class="info-org__value"  >{{teacherOperator.endedDate | date: 'dd/MM/yyyy'}}</h3>
      </div>
    </div>
  </mat-card-content>
</mat-card>
