<app-home-croquis>
  <div class="container">

    <div class="d-flex mb-3">
      <mat-spinner class="m-auto" *ngIf="isLoading" [diameter]="30" [strokeWidth]="3">
      </mat-spinner>
    </div>

    <div class="row mt-2">
      <div class="col-lg-4 col-md-4 mb-2" *ngFor="let programmeCourse of programmeCourses">
        <app-subject-class [programmeCourseId] = "programmeCourse.id"  [subjectField]="programmeCourse.subjectField" (detailsSubjectField)="detailsSubjectField(programmeCourse.subjectField)"></app-subject-class>
      </div>
    </div>
  </div>

</app-home-croquis>
