<div class="padding-left-right">
  <h3 class="mb-5 text-center">Authentification</h3>
  <p class="text-center text-danger" *ngIf="errorLogin">{{errorMessage}}</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>

      <mat-form-field class=" w-100" appearance="outline" [floatLabel]="'never'">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="username" [(ngModel)]="user.username" placeholder="Email">
        <mat-error *ngIf="f?.username?.errors?.required">Email obligatoire</mat-error>
        <mat-error *ngIf="f?.username?.errors?.email">Email invalide</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class=" w-100" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="password" [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="f?.password?.errors?.required">Mot de passe obligatoire</mat-error>
        <mat-error *ngIf="f?.password?.errors?.minLength">Au moins 8 caractères</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>


    <!--         <mat-form-field>
        <label for="">Mot de passe</label>
        <input matInput type="password" formControlName="password" [(ngModel)]="user.password">
      </mat-form-field> -->
    <mat-grid-list class=" w-100" cols="2" rowHeight="1.5rem">
      <mat-grid-tile style="display: inline-block;">
        <mat-checkbox [(ngModel)]="keepConnect" formControlName="keepConnect">Rester connecté</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile><a mat-button color="primary" class="right bolder forgot"
          (click)="goToPasswordForgot.emit()">Mot de passe oublié</a></mat-grid-tile>
    </mat-grid-list>

    <div class="mt-5 d-flex justify-content-center">
      <button mat-flat-button color="primary" *ngIf="!isLoading && !success">se connecter</button>
      <mat-spinner class="align-center" *ngIf="isLoading" [diameter]="30" [strokeWidth]="3"></mat-spinner>
      <p class="align-center text-success" *ngIf="success">{{successMessage}}</p>
    </div>

  </form>
</div>
