<app-dialog-croquis [title]="title"  [validateText]="validateText" [data]="proCalendar" [form]="form" (onFormSubmited)="onSubmit()" [isLoading]="isLoading">
  <form [formGroup]="form">
    <div class="col-lg-10 offset-lg-1" >
        <div class="row justify-content-center danger-text mb-3" *ngIf="error">
            {{ errorMessage }}
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Jour
            </div>

            <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                <mat-select formControlName="typeDay" [(ngModel)]="proCalendar.typeDay" >
                    <mat-option *ngFor="let dayVal of dayValue" [value]="dayVal.key">
                        {{ dayVal.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Heure de début
            </div>

            <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                <input matInput formControlName="startedHours"  [ngxTimepicker]="picker1" [format] = 24 required [(ngModel)]="startedHoursValue">
                <ngx-material-timepicker-toggle matSuffix [for]="picker1"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #picker1></ngx-material-timepicker>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Heure de fin
            </div>

            <div class="col-lg-12 col-md-12">
              <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                <input matInput formControlName="endedHours"  [ngxTimepicker]="picker" [format] = 24 required [(ngModel)]="endedHoursValue">
                <ngx-material-timepicker-toggle matSuffix [for]="picker"></ngx-material-timepicker-toggle>
                <ngx-material-timepicker #picker></ngx-material-timepicker>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 label">
                Durée
            </div>

            <div class="col-lg-12 col-md-12">
                <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
                    <input matInput type="number" formControlName="duration" placeholder="durée" [(ngModel)]="proCalendar.duration">
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
</app-dialog-croquis>
