<div class="row w-100 h-100 p-0 m-0">

  <div class="col-md-4 col-sm-12 auth-form">
      <div class="w-100 h-100 auth d-flex">
          <div class="align-self-center  w-100">
              <div class="row">
                  <div class="col-sm-12 col-md-8 offset-md-2">
                      <app-login class="h-100" (goToPasswordForgot)="isLogin=false; isForgot=true;" (goToChangeDefaultPassword)="isLogin=false; changeDefaultPassword=true;" *ngIf="isLogin"></app-login>
                      <!-- <app-password-forgot class="h-100" (goToLogin)="isLogin=true; isForgot=false;" *ngIf="isForgot">
                      </app-password-forgot>
                      <app-setpassword *ngIf="changeDefaultPassword"></app-setpassword>
                      <app-change-password *ngIf="changePassword"></app-change-password> -->
<!--                        <app-signup-organization *ngIf="signup"></app-signup-organization>-->
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="col-md-8 d-sm-none d-md-block auth-image">

  </div>
</div>
