.auth-image {
  // background: linear-gradient(-45deg, #ffc641, #fe5e33, #fe5e33) ;
  background-image: linear-gradient(37deg , #515ff754, #273ff261, #273ff2ad), url("/assets/images/auth.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-form {
  //background: url('/assets/images/shape circulaire.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
