<div mat-dialog-title class="align-center space-between">
  <h1 class="text-white" color="primary">{{ title }}</h1>

  <button mat-mini-fab (click)="close()">
      <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <div class="row">
    <div class="col-6" *ngFor="let proCalendar of proCalendars">
      <mat-card class="mb-2">
        <mat-card-content>
            <div class="align-center space-between">

                <div class="mr-auto p-2">
                    <div class="product-title pointer" >
                        <span class="simple-text-color">{{formatValue(proCalendar.typeDay)}}</span> &nbsp; &nbsp;
                        <span class="primary-text-color ">
                          {{proCalendar.startedHours | date: 'HH:mm'}} à {{proCalendar.endedHours | date: 'HH:mm'}}
                        </span>
                    </div>
                   </div>
                  <div class="d-flex">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item >Retirer</button>
                        <!-- <button mat-menu-item (click)="removeSubjectField.emit()">Retirer</button> -->
                    </mat-menu>
                </div>
            </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>

<div mat-dialog-actions>
  <button color="primary" mat-flat-button (click)="close()">
      {{ validateText }}</button>
</div>
