.mat-card {
    padding: 6px;
    .m-r-1 {
        margin-right: -0.4rem;
        position: relative;
    }
    .product-title {
        font-weight: 500;
    }
    .mat-icon {
        line-height: 17px;
        font-size: 20px;
    }
    .product-descripiton {
        font-size: 13px;
    }
    .document-share {
        width: 1.3rem;
        margin-right: 0.5rem;
        font-size: 13px;
        height: 1.1rem;
    }
  }
