<mat-accordion >
  <mat-expansion-panel  class="mb-2">
    <mat-expansion-panel-header class="disable_color">
      <mat-panel-title class="product-title primary-text-color">
        <div class="mr-auto p-2">
          <div class="product-title pointer" >
              <span class="simple-text-color">{{field.name}}</span> &nbsp; &nbsp;<span class="primary-text-color ">({{field.code}})</span>
          </div>
      </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="action-btn">
      <button mat-flat-button [matMenuTriggerFor]="menu" class="float-right align-center" color="primary" >
        Action<mat-icon class="ml-1">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editField.emit()">Editer</button>
        <button mat-menu-item (click)="deleteField.emit()">Supprimer</button>
          <button mat-menu-item (click)="addOption()">Ajouter une option</button>
      </mat-menu>
    </div>
    <div class="row mt-2" >
      <div class="col-lg-6 col-md-6 col-sm-12 mb-2"  *ngFor="let option of field.options">
        <app-option-item [option]="option" (editOption)="editOption(option)" (deleteOption)="deleteOption(option)"></app-option-item>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
