.mat-card {
  padding: 6px;
  .m-r-1 {
      margin-right: -0.4rem;
      position: relative;
  }
  .product-title {
      font-weight: 500;
  }
  .mat-icon {
      line-height: 17px;
      font-size: 20px;
  }
}

.action-btn{
  display: flex;
  flex-direction: row-reverse;
}
