<app-et-dialogue-croquis [title]="title" [validateText]="validateText" [isLoading]="isLoading">
  <p class="bolber text-center">Veuillez patienter, la supression est en cours.</p>
</app-et-dialogue-croquis>
