<div mat-dialog-title class="align-center space-between">
  <h1 class="text-white" color="primary">{{ data.title }}</h1>

  <button mat-mini-fab (click)="close()">
      <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  {{data.message}}
  <ng-content></ng-content>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Non</button>
  <button mat-button [mat-dialog-close]="true">Oui</button>
</div>
