
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $light-primary-text : #515c71;
$text-color : #242424;

$my-color: (50: #e9e9fe,
  100: #c7c7fc,
  200: #747ef9,
  300: #747ef9,
  400: #515ff7,
  500: #273ff2,
  600: #2335e6,
  700: #1329da,
  800: #0019cf,
  900: #0000bf,
  A100: #00ee9b,
  A200: #2cb46b,
  A400: #02925F,
  A700: #006441,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));

  $mat-accent: (50: #e5f5e5,
  100: #c1e6bf,
  200: #99d696,
  300: #6cc76a,
  400: #46ba48,
  500: #09ae1f,
  600: #009f15,
  700: #008d02,
  800: #007c00,
  900: #005e00,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ));
$textbook-dash-primary: mat-palette($my-color);
$textbook-dash-accent: mat-palette($mat-accent);

$dark-primary: #273ff2;
$my-custom-accent: #09ae1f;

// The warn palette is optional (defaults to red).
$textbook-dash-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$textbook-dash-theme: mat-light-theme($textbook-dash-primary, $textbook-dash-accent, $textbook-dash-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($textbook-dash-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  color: $text-color;
  font-size: 15px;
}
