/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
body,
html,
.mat-drawer-container {
    background-color: #f5f5f5;
    color: $text-color !important;
    font-family: "Muli", "Helvetica Neue", sans-serif !important;
}

mat-icon {
  line-height: 20px !important;
  height: 20px !important;
  width: 20px !important;
}



.float-right{
  float: right;
}


// .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//   color: #636c78 !important;
//   }
//  .mat-form-field-appearance-fill.mat-focused .mat-form-field-outline-thick {
//     color: #636c78 !important;
//     }
// .mat-focused .mat-form-field-label {
//     color: #636c78 !important;
// }


.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 2px 0 0 2px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 2px 2px 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.2em 0 0.8em 0;
}

// .mat-form-field-appearance-outline .mat-form-field-label {
//   top: 1.35em;
// }
.mat-expansion-panel-header-title,
.mat-list-base .mat-list-option {
  color: #515C71 !important;
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: .15em !important;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  font-weight: 500 !important;
}

.mat-button,
.mat-flat-button,
.mat-stroked-button {
  line-height: 40px !important;
}

.bolder {
  font-weight: 700 !important;
}

.font-weight-500 {
font-weight: 500 !important;
}

.logo {
  width: 42px;
  height: 42px;
  object-fit: cover;
}

// .mat-button[_ngcontent-ouc-c2], .mat-raised-button[_ngcontent-ouc-c2], .mat-icon-button[_ngcontent-ouc-c2], .mat-stroked-button[_ngcontent-ouc-c2], .mat-flat-button[_ngcontent-ouc-c2], .mat-fab[_ngcontent-ouc-c2], .mat-mini-fab[_ngcontent-ouc-c2] {
//   font-weight: 400 !important;
// }
.mat-card-header {
  .mat-card-header-text {
      margin: 0 !important;
  }
  .mat-form-field {
      .mat-form-field-underline {
          height: 0 !important;
      }
      .mat-form-field-ripple {
          background-color: transparent !important;
      }
  }
}

.nav-menu {
  mat-icon svg path {
      fill: #515c71;
  }
}

.route-active {
  mat-icon svg path {
      fill: mat-color($textbook-dash-primary);
  }
}

.expand-menu {
  .mat-expansion-panel-body {
      background-color: #fafafa !important;
      padding: 0 0px 0px 24px;
  }
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 3rem !important;
}

.p-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.flex {
  display: flex
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.right {
  text-align: end;
}

.align-center {
  display: flex !important;
  align-items: center !important;
}

.primary-bg {
  background-color: #515C71 !important;
}

.primary-text-color {
  color: mat-color($textbook-dash-primary) !important;
}

.accent-text-color {
  color: mat-color($textbook-dash-accent) !important;
}

.simple-text-color{
  color: $text-color !important;
}

.success-bg {
  background-color: mat-color($textbook-dash-primary) !important;
}

.danger-bg {
  background-color: #FF3948 !important;
}

.danger-text {
  color: #FF3948 !important;
}

.outilne-bg {
  background-color: #F0F0F0 !important;
}

.primary-text {
  color: #515C71 !important;
}

.success-text {
  color: mat-color($textbook-dash-primary) !important;
}

.info-bg {
  background-color: #4791FF !important;
}

.info-text {
  color: #4791FF !important;
}

.mat-card {
  box-shadow: none !important;
  border: 1px solid #F3F3F3;
}

.p-25 {
  padding: 0.75rem !important;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100px;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

button:focus {
  outline: 0 !important;
}

.flex-center {
  justify-content: center !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.space-between {
  justify-content: space-between !important;
}

.pointer {
  cursor: pointer;
}

.request-number {
  font-weight: 600;
  text-align: right;
  width: 100px;
}

.align-right {
  text-align: end !important;
}

.not-treat {
  background-color: rgba(255, 183, 50, 0.2);
  border: 1px solid #f0f0f0;
}

.qr-code {
  background-color: #f5f5f5;
}

#request-details {
  padding: 40px 40px;
}

.content-block {
  width: 794px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  td {
      border: 1px solid black;
      padding: 3px 6px;
  }
}



.request-progress {
  .mat-horizontal-content-container {
      padding: 0px;
  }
}

.mat-tab-group {
  .mat-tab-header {
      background: transparent;
      border-bottom: 0 !important;
  }
  .mat-tab-label {
      background-color: #fff;
      opacity: 1;
  }
  .mat-tab-label-active {
      color: mat-color($textbook-dash-primary);
  }
  .mat-ink-bar {
      background-color: mat-color($textbook-dash-primary) !important;
      height: 3px !important;
  }
  .mat-tab-body-content {
      overflow: hidden !important;
  }
}

.wysiwig .trumbowyg-box .trumbowyg-editor {
  max-height: 500px;
}

.circle {
  border-radius: 30px;
  text-align: center;
  margin-right: 0.3rem;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
}

.mat-dialog-container {
  transform: none;
  padding: 0 !important;
  overflow: hidden;
  border-radius: 10px !important;
  .mat-dialog-title {
      display: flex;
      padding: 8px 20px;
      background-color: mat-color($textbook-dash-primary);
      margin-bottom: 0;
      h1 {
          // color: #fff;
          font-weight: 500;
          font-size: 17px;
          margin-bottom: 0;
      }
      // .mat-icon {
      //   background-color: #4FA87F;
      //   border-radius: 50%;
      //   color: #fff;
      //   width: 30px !important;
      //   height: 30px !important;
      //   padding: 6px;
      //   font-size: 17px;
      //   cursor: pointer;
      // }
      .mat-mini-fab {
          box-shadow: none;
          background-color: rgba(255, 255, 255, 0.25);
          .mat-icon {
              svg {
                  width: 13px !important;
              }
          }
      }
  }
  .mat-dialog-content {
      padding: 20px;
      margin: 0;
      &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, .26);
      }
      &::-webkit-scrollbar {
          height: 4px;
          width: 6px;
      }
  }
  .mat-dialog-actions {
      padding: 0px 20px;
      margin: 0;
      background-color: #F0F0F0;
      justify-content: center;
      button {
          // font-size: 13px;
          // font-weight: 500;
          padding: 0 25px;
      }
  }
}

.timepicker-overlay{
  z-index: 10000000 !important;
}
.timepicker-backdrop-overlay{
  z-index: 10000000 !important;
}

.timepicker {
  :focus-visible {
    outline: none !important;
  }

  .timepicker__header {
    background-color: #273ff2 !important;
  }

  // .timepicker__header :focus-visible {
  //   outline: none !important;
  // }

  .clock-face__clock-hand {
    background-color: #273ff2 !important;

    &::after {
      background-color: #273ff2 !important;
    }

    &::before {
      border-color: #273ff2 !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: #273ff2 !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: #273ff2 !important;
  }
}


.custom-form-field {
  .mat-form-field-wrapper {
      .mat-form-field-flex {
          border: 1px solid #e6e6e6 !important;
      }
      .mat-form-field-prefix,
      .mat-form-field-suffix {
          margin: auto;
      }
      .mat-form-field-underline {
          display: none !important;
      }
      .mat-form-field-infix {
          padding: 10px;
          border: none;
      }
      .mat-form-field-label {
          margin-top: 8px;
          margin-left: 10px;
          font-size: 13px;
      }
  }
}

.date {
  .mat-form-field-wrapper {
      .mat-form-field-flex {
          background-color: #f0f0f0 !important;
          font-size: 13px !important;
      }
  }
}

.mat-tooltip {
  background-color: #515C71 !important;
  color: white !important;
  border-radius: 30px !important;
  font-size: 9px !important;
  line-height: 18px;
  font-weight: 600;
  padding: 0;
}

.mat-mini-fab {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.25) !important;
  .mat-button-wrapper {
      .mat-icon {
          svg {
              width: 13px !important;
          }
      }
  }
}

.mat-accordion {
  width: 100%;
  .mat-expansion-panel {
      box-shadow: none !important;
      border: 1px solid #F3F3F3;
  }
}

.mat-menu-panel {
  min-width: fit-content !important;
  max-width: fit-content !important;
  overflow-y: auto;
  max-height: 23rem !important;
  &::-webkit-scrollbar {
      display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med {
      display: none !important;
  }
  .d-med-block {
      display: block !important;
  }
  .activities-content {
      height: 90% !important;
  }
}

@media only screen and (min-width: 992px) {
  .hide-on-lg {
      display: none !important;
  }
  // .mat-button-wrapper {
  //   // display: flex !important;
  //   align-items: center !important;
  //   .mat-icon {
  //     svg {
  //       width: 13px !important;
  //     }
  //   }
  // }
  .h-lg-100 {
      height: 100%;
  }
}

.profile-search {
  .mat-form-field-wrapper {
      padding-bottom: 0 !important;
  }
}

.map-container {
  width: 100% !important;
  height: 600px !important;
  margin-bottom: 30px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
