<app-home-croquis>
  <div class="ola">
    <mat-card class="time-table">
        <div class="time-table__content time-table__border" *ngFor="let day of dayValue">
            <div class="time-table__content__header">
              <h3>{{day.value}}</h3>
            </div>
            <ng-container *ngIf="proCalendars.length > 0;">
              <div class="time-table__content__value time-table__content__value-last" *ngFor="let proCalendar of refactoring(proCalendars, day.key)">
                <div *ngIf="proCalendar.typeDay == day.key" class="time-table__content__value__show-field">
                  <h3>{{proCalendar.startedHours | date: 'HH:mm'}} à {{proCalendar.endedHours | date: 'HH:mm'}}</h3>
                  <span>{{proCalendar.subjectField.subject.name}}</span>
                  <span>({{proCalendar.subjectField.subject.code}})</span>
                </div>
              </div>
            </ng-container>
        </div>
    </mat-card>
    <mat-card *ngIf="proCalendars.length <= 0" style="text-align: center;">
      <div >
        Veuillez definir les honoraires pour avoir l'emploi du temps
      </div>
    </mat-card>
  </div>
</app-home-croquis>
