<app-et-admin [linkTree]="linkTree" [isTimeout]="isTimeout" [isReloading]="isReloading" (onReload)="relaod()">
  <div class="row mb-3">
    <div class="col-md-4 offset-md-8">
        <button mat-flat-button class="float-right align-center" color="primary" (click)="createTeacher()">
            <mat-icon class="mr-1">add</mat-icon>
            Ajouter un enseignant
        </button>
    </div>
  </div>

  <div class="align-center center">
    <div class="col-md-4">
      <form [formGroup]="form">
      <mat-form-field class="w-100" appearance="outline" [floatLabel]="'never'">
          <input matInput type="text" autocomplete="off" formControlName="search" placeholder="recherche"  (input)="filterActor($event)" [(ngModel)]="search">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      </form>
    </div>
  </div>

  <div class="mb-3">
      <div class="d-flex mb-3" *ngIf="isLoading">
        <mat-spinner class="m-auto" [diameter]="30" [strokeWidth]="3">
        </mat-spinner>
      </div>
      <div class="row" *ngIf="!isLoading">
        <div class="col-md-4 mb-3" *ngFor="let teacher of teachers">
          <app-teacher-item [teacher]="teacher" (editTeacher)="editTeacher(teacher)" (deleteTeacher)="deleteTeacher(teacher)" (definedAsHead)="definedAsHead(teacher.id)" (removeAsHead)="removeAsHead(teacher.id)"></app-teacher-item>
        </div>
        <div class="col-md-12 flex-end mt-3 mb-3" *ngIf="pageTeacher.totalElements > pageTeacher.size">
          <mat-paginator [length]="pageTeacher.totalElements" [pageSize]="pageTeacher.size" [pageSizeOptions]="[pageTeacher.size]" (page)="setPage($event)" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
  </div>
</app-et-admin>
